<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>서로의 생각이 궁금해</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>
    <header id="header">
        <div class="container">
            <div class="header__column" style="width: 20%;">
                <a href="menu.html" class="header__link">
                    메뉴
                </a>
            </div>
            <div class="header__column" style="width: 60%;">
                <!-- <a href="#" class="header__link">
                    <img class="header__logo" src="#" alt="리:브릿지 로고">
                </a> -->
                <a href="todaynews.html" class="header__link">
                    서로의 생각이 궁금해
                </a>
            </div>
            <div class="header__column" style="width: 20%;">
                <a href="index.html" class="header__link">
                    리:브릿지
                </a>
            </div>
        </div>
        <div class="header__row">
            한줄 설명
        </div>
    </header>

    <div style="display: flex; justify-content: flex-end; height: 30px; background: #ffeabb">
        <button class="write">글쓰기</button>
    </div>

    <!-- 첫번째 게시글 -->

    <div class="postinfo">
        <div class="postinfo__column__70">
            <div class="nth__bamboo">
                #27380번째 메아리
            </div>
            <div class="upload__date">
                2018.08.31 07:35
            </div>
            <div class="hash">
                <div class="hash__content">#가족관계</div>
                <div class="hash__content">#20대</div>
            </div>
        </div>
        <div class="postinfo__column__30">
            <div class="howmany__hits">조회수 8회</div>
            <div class="contain__bamboobutton">
                <button class="bamboo__button">수정</button>
                <button class="bamboo__button">삭제</button>
            </div>
        </div>
    </div>

    <div class="content__box">
        대나무숲 게시글이 보여지는 곳입니다.<br>
        만약에 길이 매우 길다면 페이스북 처럼 ... 더보기를 넣고 싶은데<br>
        아직 제가 접고 펼치는 기능을 구현을 못하겠어요ㅠㅠ<br>
        분발해 보겠습니다<br><br>
        ...더보기
    </div>

    <div class="response">
        <div class="response__box">
            <i class="far fa-thumbs-up"></i>
            <div>좋아요 5개</div>
        </div>
        <div class="response__box">
            <i class="far fa-comment-alt"></i>
            <div>댓글 0개</div>
        </div>
        <div class="response__box">
            <i class="far fa-share-square"></i>
            <div>공유 1회</div>
        </div>
    </div>

    <!-- 두번째 게시글 -->

    <div class="postinfo">
        <div class="postinfo__column__70">
            <div class="nth__bamboo">
                #27381번째 메아리
            </div>
            <div class="upload__date">
                2018.08.31 08:35
            </div>
            <div class="hash">
                <div class="hash__content">#세대 간 갈등</div>
                <div class="hash__content">#50대</div>
            </div>
        </div>
        <div class="postinfo__column__30">
            <div class="howmany__hits">조회수 8회</div>
            <div class="contain__bamboobutton">
                <button class="bamboo__report">            &#x1F6A8;
                        신고</button>
            </div>
        </div>
    </div>

    <div class="content__box">
        아들 카카오톡을 몰래 보다가<br>
        자만추라는 단어를 봤는데<br>
        자만추가 무슨 뜻인가요?<br>
        별다줄 때문에 의사소통이 불가하네요ㅠ.ㅠ<br>
    </div>

    <div class="response">
        <div class="response__box">
            <i class="far fa-thumbs-up"></i>
            <div>좋아요 5개</div>
        </div>
        <div class="response__box">
            <i class="far fa-comment-alt"></i>
            <div>댓글 2개</div>
        </div>
        <div class="response__box">
            <i class="far fa-share-square"></i>
            <div>공유 1회</div>
        </div>
    </div>

    <div class="contain__reply">
        <div class="reply__profilepic"></div>
        <div class="reply__content">
            <div class="reply__nickname">
                갓현영ZeroCho
            </div>
            <div class="reply__comment">
                <br>자만추는
                <br>자연스러운 만남 추구의
                <br>줄임말입니다
            </div>
        </div>
    </div>

    <div class="contain__reply">
        <div class="reply__profilepic"></div>
        <div class="reply__content">
            <div class="reply__nickname">
                찡준이
            </div>
            <div class="reply__comment">
                <br>참고로 인만추도 있습니다
                <br>인위적인 만남 추구요~
            </div>
        </div>
    </div>

</body>

</html>