<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/canvas.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>
    <div class="contain__row">
        <div style="width: 70%" class="contain__column">
            <div class="column__content">
                #27380번째 메아리
            </div>
            <div class="column__content">
                2018.08.31 07:35
            </div>
            <div class="contain__row">
                <div class="row__content">#가족관계</div>
                <div class="row__content">#20대</div>
            </div>
        </div>

        <div style="width: 30%" class="contain__column">
            <div class="column__content">조회수 8회</div>
            <div class="contain__row">
                <div class="row__content">수정</div>
                <div class="row__content">삭제</div>
            </div>
        </div>
    </div>

    <div class="content__box">
        <div style="display: inline-block; padding: 10px 0 10px 10px;">
            대나무숲 게시글이 보여지는 곳입니다.<br>
            만약에 길이 매우 길다면 페이스북 처럼 ... 더보기를 넣고 싶은데<br>
            아직 제가 접고 펼치는 기능을 구현을 못하겠어요ㅠㅠ<br>
            분발해 보겠습니다<br><br>
            ...더보기
        </div>
    </div>
    <div class="contain__row">
        <div class="contain__row">
            <i class="far fa-thumbs-up"></i>
            <div>좋아요 5개</div>
        </div>
        <div class="contain__row">
            <i class="far fa-comment-alt"></i>
            <div>댓글 0개</div>
        </div>
        <div class="contain__row">
            <i class="far fa-share-square"></i>
            <div>공유 1회</div>
        </div>
    </div>

    <div class="contain__row">

        <div class="row__content">
            프로필 사진
        </div>
        <div class="contain__column">
            <div class="column__content">닉네임</div>
            <div class="column__content">댓글내용</div>
        </div>
    </div>

    <div class="contain__row">
        <div class="replyprofilepic"></div>
        <div class="reply">갓현영ZeroCho
            <br>자만추는
            <br>자연스러운 만남 추구의
            <br>줄임말입니다</div>
    </div>

</body>

</html>