<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>리:브릿지 Re:bridge</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>
    <header id="header">
        <div class="header__column">
            <a href="#" class="header__link">
                메뉴
            </a>
        </div>
        <div class="header__column">
            <a href="#" class="header__link">
                <img class="header__logo" src="#" alt="리:브릿지 로고">
            </a>
        </div>
        <div class="header__column">
            <a href="#" class="header__link">
                리:브릿지
            </a>
        </div>
    </header>

    <nav id="favbar">
        <a class="favbar__menu" href="index.html">오늘의뉴스</a>
        <a class="favbar__menu" href="new.html">대나무수웊</a>
        <a class="favbar__menu" href="chart.html">서로의생각</a>
    </nav>



    <footer id="footer">
        <div class="flex">
            tel: 010-1234-1234 |
            <a class="footer__link" href="#" target="_blank">
                리:브릿지
            </a>
        </div>
        <address class="address">
            대학생들이 모여 만든 5060을 위한 커뮤니티 플랫폼
        </address>
    </footer>
</body>

</html>