<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메뉴</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    <div class="div__row">
            <div class="div__column">
                <div class="profile__pic">
                </div>
                <div class="nickname">닉네임</div>
            </div>
            <div class="div__column">
                <div class="button">
                    <a href="#" class="button__link">
                        마이페이지로 이동
                    </a>
                </div>
                <div class="button">
                    <a href="#" class="button__link">
                        기본개인정보 수정
                    </a>
                </div>
            </div>
        </div>

    <div id="menu">
        <div class="menu__column">
            <a href="todaynews.html" class="menu__link">
                오늘의 뉴스
            </a>
        </div>
        <div class="menu__column">
            <a href="#" class="menu__link">
                이야기 게시판
            </a>
        </div>
        <div class="menu__column">
            <a href="#" class="menu__link">
                대나무숲
            </a>
        </div>
        <div class="menu__column">
            <a href="#" class="menu__link">
                서로의 생각이 궁금해
            </a>
        </div>
        <div class="menu__column">
            <a href="#" class="menu__link">
                클래스
            </a>
        </div>
        <div class="menu__column">
            <a href="#" class="menu__link">
                서비스 소개
            </a>
        </div>
        <div class="menu__column">
            <a href="#" class="menu__link">
                공지사항
            </a>
        </div>
        <div class="menu__column">
            <a href="#" class="menu__link">
                이벤트
            </a>
        </div>
    </div>

</body>