{% extends "layout.njk" %}

{% block content %}
  <div id="menu">
    {% if user %}
      <div class="div__row">
        <div class="div__column">
          <div class="profile__pic">
          </div>
          <div class="nickname">{{ user.name }}</div>
        </div>
        <div class="div__column">
          <div class="button">
            <a href="/mypage" class="button__link">
              마이페이지로 이동
            </a>
          </div>
          <div class="button">
            <a href="/myinfo" class="button__link">
              기본개인정보 수정
            </a>
          </div>
          <div class="button">
            <a href="/users/signout" class="button__link">
             로그아웃
            </a>
          </div>
        </div>
      </div>
    {% else %}
      <div class="menu__column">
        <a href="/signin" class="menu__link__login">
          로그인
        </a>
      </div>
    {% endif %}
    <div class="menu__column">
      <a href="/todaynews" class="menu__link">
        오늘의 뉴스
      </a>
    </div>
    <div class="menu__column">
      <a href="/story" class="menu__link">
        이야기 게시판
      </a>
    </div>
    <div class="menu__column">
      <a href="/bamboo" class="menu__link">
        대나무숲
      </a>
    </div>
    <div class="menu__column">
      <a href="/seorosengak" class="menu__link">
        서로의 생각이 궁금해
      </a>
    </div>
    <div class="menu__column">
      <a href="/class" class="menu__link">
        클래스
      </a>
    </div>
    <div class="menu__column">
      <a href="#" class="menu__link">
        서비스 소개
      </a>
    </div>
    <div class="menu__column">
      <a href="#" class="menu__link">
        공지사항
      </a>
    </div>
    <div class="menu__column">
      <a href="#" class="menu__link">
        이벤트
      </a>
    </div>
  </div>
{% endblock %}
