<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입 완료</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>
    <header id="header">
        <div class="header__column">
            <a href="#" class="header__link">
                메뉴
            </a>
        </div>
        <div class="header__column">
            <a href="#" class="header__link">
                <img class="header__logo" src="#" alt="리:브릿지 로고">
            </a>
        </div>
        <div class="header__column">
            <a href="#" class="header__link">
                리:브릿지
            </a>
        </div>
    </header>



<div style="height: 30px; background: #ffeabb"></div>

<div class="space" style="background: white;"></div>

<div style="text-align: center;">
    <img src="images/complete.png" style="width: 20%;">
</div>

<div style="text-align: center; font-size: 1.3rem; margin: 15px 0 0 0;">
    가입이 <br>
    완료되었습니다
</div>

<div style="text-align: center;">
    <button class="startbutton">이 아이디로 로그인 하고 시작하기</button>
</div>

</body>

</html>