<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>리:브릿지 :: 회원가입</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>
    <header id="header">
        <div class="header__column">
            <a href="#" class="header__link">
                메뉴
            </a>
        </div>
        <div class="header__column">
            <a href="#" class="header__link">
                <img class="header__logo" src="#" alt="리:브릿지 로고">
            </a>
        </div>
        <div class="header__column">
            <a href="#" class="header__link">
                리:브릿지
            </a>
        </div>
    </header>


    <form>
        <div>
            <div class="signup__label">
                <label for="id">아이디</label>
            </div>
            <span>
                <input id="id" name="id" type="text" autocomplete="on" autofocus required>
                <button class="button" type="button">
                    중복조회
                </button>
            </span>
        </div>

        <div>
            <div class="signup__label">
                <label for="password">
                    비밀번호
                </label>
            </div>
            <span>
                <input id="password" name="password" type="text" autocomplete="on" required>
            </span>
        </div>

        <div>
            <div class="signup__label">
                <label for="passwordcheck">
                    비밀번호 확인
                </label>
            </div>
            <span>
                <input id="passwordcheck" name="passwordcheck" type="text" autocomplete="on" required>
            </span>
        </div>

        <div>
            <div class="signup__label">
                <label for="nickname">
                    닉네임
                </label>
            </div>
            <span>
                <input id="nickname" name="nickname" type="text" autocomplete="on" required>
                <button class="button" type="button">
                    중복조회
                </button>
            </span>
        </div>

        <div>
            <div class="signup__label">
                <label for="phonenumber">
                    휴대폰 번호
                </label>
            </div>
            <span>
                <input id="phonenumber" name="phonenumber" type="number" placeholder="01012341234">
                <button class="button" type="button">
                    인증
                </button>
            </span>
        </div>

        <div>
            <div class="signup__label">
                <label for="birthdate">
                    생년월일 - 주민번호 앞 6자리
                </label>
            </div>
            <input id="birthdate" name="birthdate" type="number" placeholder="주민번호 앞 6자리">
        </div>


        <div>
            <span>
                <span>서비스 이용약관</span>
                <input type="checkbox" required>
                <span>동의</span>
            </span>
        </div>

        <div>

            <span>
                <span>개인정보 처리방침</span>
                <input type="checkbox" required>
                <span>동의</span>
            </span>

        </div>

        <button class="button" type="submit">가입하기</button>
    </form>

</body>

</html>