{% extends "layout.njk" %}

{% block content %}
  <header id="header">
    <div class="container">
      <div class="header__column">
        <a href="#" class="header__link">
          <i class="fas fa-times"></i>
        </a>
      </div>
      <div class="header__column">
        이야기 게시판
      </div>
      <div class="header__column">
        <a href="#" class="header__link">
          <i class="fas fa-edit"></i>
        </a>
      </div>
    </div>
    </div>
    <div class="header__row">
      <div class="header__column2">
        <a href="#" class="header__link">
          취소
        </a>
      </div>
      <div class="header__column2">
        글쓰기 </div>
      <div class="header__column2">
        <a href="#" class="header__link">
          완료
        </a>
      </div>
    </div>
  </header>

  <main id="main">
    <textarea placeholder="여기를 눌러 내용을 입력하세요"></textarea>
  </main>

  <div class="div__row" style="justify-content: space-around;">
    <a href="#" class="write__link">
      <i class="fas fa-image"></i>
      사진
    </a>
    <a href="#" class="write__link">
      <i class="fas fa-video"></i>
      동영상
    </a>
    <a href="#" class="write__link">
      <i class="fas fa-share-alt-square"></i>
      링크 공유
    </a>
  </div>
{% endblock %}