{% extends "layout.njk" %}

{% block content %}
<main id="news__container">
  <div class="news__column">
    <div class="cell">
      <a href="https://joongang.joins.com/">중앙일보</a>
    </div>
    <div class="cell">
      <a href="http://www.chosun.com/">조선일보</a>
    </div>
    <div class="cell">
      <a href="http://www.donga.com/">동아일보</a>
    </div>
  </div>

  <div class="news__column">
    <div class="cell">
      <a href="http://www.hani.co.kr/">한겨레</a>
    </div>
    <div class="cell">
      <a href="http://www.khan.co.kr/">경향신문</a>
    </div>
    <div class="cell">
      <a href="http://news.jtbc.joins.com/">JTBC 뉴스</a>
    </div>
  </div>

  <div class="news__column">
    <div class="cell">
      <a href="https://news.sbs.co.kr/news/newsMain.do">SBS 뉴스</a>
    </div>
    <div class="cell">
      <a href="https://news.kbs.co.kr/common/main.html">KBS 뉴스</a>
    </div>
    <div class="cell">
      <a href="http://imnews.imbc.com/index_pc.html">MBC 뉴스</a>
    </div>
  </div>

  <div class="news__column">
    <div class="cell">
      <a href="http://mk.co.kr/">매일경제</a>
    </div>
    <div class="cell">
      <a href="http://www.hankyung.com/">한국경제</a>
    </div>
    <div class="cell">
      <a href="http://www.asiae.co.kr/news/">아시아경제</a>
    </div>
  </div>
</main>
{% endblock %}