#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fac53b;
    width: 100%;
    padding: 17px;
    padding-bottom: 10px;
}

#header .header__column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33333%;
}

#header .header__column:first-child {
    justify-content: flex-start;
}

#header .header__column:last-child {
    justify-content: flex-end;
}

#header .header__column2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33333%;
}

#header .header__column2:first-child {
    justify-content: flex-start;
    padding-left: 15px;
}

#header .header__column2:last-child {
    justify-content: flex-end;
    padding-right: 18px;
}

#header .header__row {
    display: flex;
    justify-content: center;
    background-color: #fac53b;
    width: 100%;
    padding-bottom: 10px;
    font-size: 13px;
}

#header .header__logo {
    display: inline-block;
}

#header .header__link {
    padding: 1px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#favbar .favbar__menu {
    height: 19px;
    padding: 1px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}