#main input[type=text] {
    border: 1px solid black;
    width: 100%;
    height: 100px;
}

.div__row .write__link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

textarea {
    width: 100%;
    height: 300px;
}
